body {
  margin: 0;
  padding: 0;
}

.headerTitle {
  background-color: rgb(47, 55, 142);
  padding: 5px;
  text-align: center;
  color: white;
}

h2 {
  padding-left: 25%;
}

.employeeForm {
  margin-left: 15px;
}

.submitButton {
  margin-left: 10px;
}

.employeesInfoContainer {
  margin-top: 25px;
  margin-left: 15px;
}

.totalMonthly {
  text-align: right;
  margin-right: 25px;
  width: 60%;
}

.headerTitleText {
  border: 1px solid black;
  padding: 5px 25px 5px 5px;
  text-align: left;
  background-color: rgb(182, 203, 220);
}
